<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

<!-- 数据库管理模块 -->
	<!-- 定义数据源 -->
	<bean id="dataSource"	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- 数据库驱动 -->
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<!-- 数据库 -->
		<property name="url">
			<value>jdbc:mysql://localhost:3306/db_javaweb?useUnicode=true&amp;characterEncoding=gbk</value>
		</property>
		<!-- 用户名 -->
		<property name="username">
			<value>root</value>
		</property>
		<!-- 密码 -->
		<property name="password">
			<value>admin</value>
		</property>
	</bean>

	<!-- 定义会话工厂 -->
	<bean id="sessionFactory"	class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- Hibernate方言，控制台输出SQL -->
		<property name="hibernateProperties">
			<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<!-- Hibernate映射文件 -->
		<property name="mappingResources">
			<list>
			<value>member/User.hbm.xml</value>
			<value>member/Fans.hbm.xml</value>
			<value>message/SMS.hbm.xml</value>
			<value>monitor/Logger.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置事务和模版 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

<!-- 用户管理模块 -->
	<!-- 配置用户Bean组件 -->
	<bean id="user" class="member.User" />
	<!-- 配置用户DAO组件 -->
	<bean id="userDAO" class="member.UserDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<!-- 配置用户Service组件 -->
	<bean id="userService" class="member.UserService" scope="prototype">
		<property name="userDAO" ref="userDAO" />
	</bean>
	<!-- 配置用户Action组件 -->
	<bean id="userAction" class="member.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	
<!-- 短消息管理模块 -->
	<!-- 配置短消息Bean组件 -->
	<bean id="SMS" class="message.SMS" />
	<!-- 配置短消息DAO组件 -->
	<bean id="SMSDAO" class="message.SMSDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<!-- 配置短消息Service组件 -->
	<bean id="SMSService" class="message.SMSService" scope="prototype">
		<property name="SMSDAO" ref="SMSDAO" />
		<property name="userDAO" ref="userDAO" />
	</bean>
	<!-- 配置短消息Action组件 -->
	<bean id="SMSAction" class="message.SMSAction" scope="prototype">
		<property name="SMSService" ref="SMSService" />
	</bean>
	
<!-- 日志管理模块 -->
	<!-- 配置日志Bean组件 -->
	<bean id="logger" class="monitor.Logger" />
	<!-- 配置日志DAO组件 -->
	<bean id="loggerDAO" class="monitor.LoggerDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<!-- 配置日志Service组件 -->
	<bean id="loggerService" class="monitor.LoggerService" scope="prototype">
		<property name="loggerDAO" ref="loggerDAO" />
		<property name="userDAO" ref="userDAO" />
	</bean>
	<!-- 配置日志Advice组件 -->
	<bean id="loggerAdvice"	class="monitor.LoggerAdvice" scope="prototype">
		<property name="loggerService" ref="loggerService" />
	</bean>
	<!-- 配置日志Aspect组件 -->
	<aop:config  proxy-target-class="true">
		<!-- 定义切入点 -->
		<aop:pointcut id="loginPointcut" 	expression="execution(* member.UserAction.login(..))"/>
		<aop:pointcut id="logoutPointcut" 	expression="execution(* member.UserAction.logout(..))"/>
		<aop:pointcut id="writePointcut" 	expression="execution(* message.SMSAction.addSMS(..))"/>
		<!-- 定义通知 -->
		<aop:aspect id="loginAspect"	ref="loggerAdvice" order="1">
			<aop:after pointcut-ref="loginPointcut" 	method="login" />
		</aop:aspect>
		<aop:aspect id="logoutAspect"	ref="loggerAdvice" order="1">
			<aop:before pointcut-ref="logoutPointcut" 	method="logout" />
		</aop:aspect>
		<aop:aspect id="writeAspect"	ref="loggerAdvice" order="1">
			<aop:before pointcut-ref="writePointcut" 	method="write" />
		</aop:aspect>
	</aop:config>
	<!-- 配置日志Action组件 -->
	<bean id="loggerAction" class="action.LoggerAction" scope="prototype">
		<property name="loggerService" ref="loggerService" />
	</bean>
	
</beans>
